html {
  height:100%;
}
body {
  height: 100%;
  font-size: 16px;
  min-width: $XSS;
  font-family: $font_regular;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
}
h1 {
  font-family: $font_bold;
  font-size: 18px;
  margin-bottom: $margin;
}
h2 {
  font-size: 32px;
  margin-bottom: $margin;
  font-family: $font_bold;
  text-align: center;
}
picture {
  display: flex;
}
main,article{
  display: inline;
  
}
.header-logo{
  position: relative;
  height: $bg_menu_mobile_height;
}
.logo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:1;
  width:100%;
  img{
    width:100%;
  }
}
/* ---------- */
/* navigation */
/* ---------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.navigation {
  display: none;
  width: 100%;
  height: 100%;
  font-family: $font_bold;
  font-size: 20px;
  z-index: 999;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  li {
    flex-basis: 100%;
    text-align: center;
    line-height: 60px;
  }
  a {
    color: #FFF;
  }
  &.nav-open {
    background: url(../../assets/images/header-bg.jpg) no-repeat top left;
    background-size: cover;
    display:block;
  }
}
.menu-burger {
  position: absolute;
  top: 0;
  right: 0;
  left:auto;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 30px;
  cursor: pointer;
  z-index: 9999;

  &.menu-open{
    left:0;
    right:auto;
  }
}
.open-close {
  color: #FFF;
  font-size: 30px;
}
/* // navigation */

/* ------- */
/* content */
/* ------- */
.content-header{
  position: relative;
}
.content-synopsis,
.content-description {
  display: flex;
}
.content-synopsis {
  text-align: center;
  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $margin;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
}
.content-description {
  flex-direction: column;
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
.content-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 50px;
  width: 100%;
}
.content-left {
  display: flex;
  flex-direction: column;
}
.content-right {
  display: none;
}
.content-footer {
  background: url(../../assets/images/stormtroopers.jpg) no-repeat top center;
  height: 250px;
}
.content-footer-img{
  position:relative;
  height: $img_default_height;
  img{
      display: none;
  }
}
.content-wrapped{
  p{
    margin-bottom: 10px;
  }
}
.img-wrapped{
  margin-bottom: $margin;
  width:100%;
}
/* // content */

/* ------------ */
/* IMG Parallax */
/* ------------ */
.parallax-header{
  background-image: url(../../assets/images/header-bg.jpg);
    min-height: 100%;
}
.parallax-article{
    background: url(../../assets/images/kiloren.jpg);
    height: 500px; 
}
.parallax-logo{
  background: url(../../assets/images/logo.png);
  min-height: 100%;
}
.bg-fixed{
    background-attachment: fixed;
    background-position: top;
     background-repeat: no-repeat;
     background-size: auto;
}
/* ------ */
/* footer */
/* ------ */
.footer-page {
  position: relative;
  height:270px;
  background: url(../../assets/images/darthvader.jpg) no-repeat center top, #181818;
}
.footer-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  color: #9b9b9b;
  a {
    color: #9b9b9b;
    font-size: 12px;
  }
}
.footer-image {
  display: flex;
  justify-content: center;
  height: 100%;
  picture {
    justify-content: center;
  }
  img {
    height: 100%;
  }
}
.footer-nav {
  margin-bottom: 40px;
}
.footer-menu {
  nav {
    width: 49%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    a {
      text-decoration: underline;
    }
  }
  ul li {
    margin-bottom: 10px;
  }
  a {
    color: #FFF;
  }
}
.footer-copyright {
  display:none;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: $margin;
}
.footer-copyright small {
  font-weight: 700;
}
.footer-social {
  position: absolute;
  bottom: $margin;
  left: 0;
  display: flex;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 30px;
  .social-title {
    text-align: center;
    width: 49%;
  }
  .social-icons {
    display: flex;
    width: 150px;
    margin: 0 auto;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
  }
  i[class^="icon"] {
    font-size: 32px;
    color: $color_social;
  }
}
/* // footer */

/* ------------ */
/* mediaqueries */
/* ------------ */
@media all and (min-width: $XS) {
  .logo{
    width: auto;
    img{
      width: auto;
    }
  }
  .img-wrapped{
    float:left;
    margin-right: $margin;
    margin-bottom: 10px;
    width:auto;
  }
  .footer-copyright {
    display:block;
  }
  .footer-social {
    bottom:10px;
    padding: 0 $margin;
  }
}

@media all and (min-width: $XM) {
  /* navigation */
  .header {
    height: auto;
    position: fixed;
  }
  .navigation {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    ul {
      padding: 18px 0;
      width: $main_width;
    }
    li {
      flex: auto;
      line-height: normal;
    }
    &.nav-open{
      display: flex;
      background: none;
    }
  }
  .header-logo{
    height: 100%;
  }  
  .menu-burger {
    display: none;
  }

  /* content */
  .content-article {
    padding: 100px 20px;
    width: $main_width;
    margin: 0 auto;
  }
  .content-left {
    padding-right: 80px;
  }
  .content-right {
    display: flex;
    width: 300px;
    .content-ad {
      position: relative;
      width: 300px;
    }
  }
  .content-synopsis {
    text-align: left;
  }
  .content-footer{
    height:auto;
    background: none;
  }  
  .content-footer-img{
      height:auto;
      img{
        display: block;
        width: 100%;
        height: auto;
        position: initial;
        left:auto;
        top:auto;
        margin-left:0;
      }
  }
  .parallax-header{
    background-image: url(../../assets/images/header-bg-2x.jpg);
      min-height: 100%;
  }  
  .parallax-article{
      background: url(../../assets/images/kiloren-2x.jpg);
      height: 500px; 
  }
  .bg-fixed{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  /* footer */
  .footer-menu {
    display: flex;
  }
  .footer-image {
    img {
      height: 100%;
      width: auto;
    }
  }
  .footer-menu nav,
  .footer-social {
    width: 33%;
  }
  .footer-social {
    position: static;
    flex-direction: column;
    margin-top: 0;
    .social-title {
     margin-bottom: 20px;
    }
    .social-title {
      width: auto;
    }
    .social-icons {
      justify-content: space-between;
    }
  }
  .footer-page {
    height: 270px;
    background-color: #181818;
    background-image: url(../../assets/images/darthvader-2x.jpg)no-repeat center top;
    background-size: contain;
  }
  .footer-main {
    padding: 50px;
  }
}
/* // mediaqueries */

/* ----- */
/* FONTS */
/* ----- */

/* OPENSANS */
@font-face {
  font-family: "open_sansregular";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
    url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
    url("fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "open_sansbold";
  src: url("fonts/OpenSans-Bold-webfont.eot");
  src: url("fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans-Bold-webfont.woff") format("woff"),
    url("fonts/OpenSans-Bold-webfont.ttf") format("truetype"),
    url("fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  ffont-display: swap;
}
@font-face {
  font-family: "open_sansbold_italic";
  src: url("fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/OpenSans-BoldItalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/OpenSans-BoldItalic-webfont.woff") format("woff"),
    url("fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"),
    url("fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ICOMMON */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?cccff6");
  src: url("fonts/icomoon.eot?cccff6#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?cccff6") format("truetype"),
    url("fonts/icomoon.woff?cccff6") format("woff"),
    url("fonts/icomoon.svg?cccff6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
